<!DOCTYPE html>
%html
%head
  %head
    %title WatsonInt | 404
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .left
          %ul.nav
            %li= link_to "Home", '/'
            / %li.divider-vertical
            / %li
            /   = link_to "My Life", '#'
            %li.divider-vertical
            %li= link_to "Projects", '/projects'
            / %li.divider-vertical
            / %li
            /   = link_to "Contact", '#'
            - if current_user
              %li.divider-vertical
              %li= link_to "Logout", logout_path
        .right
          = link_to image_tag('logo.png'), '/'
  .container
    #overview.hero-unit
      %h1 Uh oh!
      %p The page you were looking for doesn't exist.
    
    = link_to 'Go back home', '/'