.thumbnail
  = link_to image_tag(project.images.first.photo(:list)), project unless project.images.nil?
  .caption
    %h3= link_to truncate(project.name, :length => 28), project
    %p= project.caption
    %i.icon-beaker
    - unless project.skills.nil?
      - skills = ""
      - project.skills.each do |skill|
        - skills += " #{Skill.find(skill).name} |"
      = truncate(skills.chop, :length => 37)
    .clear
    .action
      = link_to(project, :class => 'btn') do 
        %i.icon-eye-open
        view project