<!DOCTYPE html>
%html
%head
  %head
    %title WatsonInt | Personal Portfolio #{@page_title ? "| #{@page_title}" : nil}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  = render '/partials/nav'
  .container
    = yield
